<#
    Type[] types = new Type[]
    {
        typeof(byte),
        typeof(sbyte),
        typeof(short),
        typeof(ushort),
        typeof(char),
        typeof(int),
        typeof(uint),
        typeof(long),
        typeof(ulong),
        typeof(float),
        typeof(double),
        typeof(decimal),
        typeof(DateTime),
        typeof(bool),
        typeof(TimeSpan),
        typeof(string),
        typeof(byte[]),
    };
#>